* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    height: 100vh;
  }
  nav {
    width: 100%;
    padding: 1.5rem;
    background: #0d0d0f;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #515558;
  }
  nav h4 {
    margin: 0;
    color: #FFFFFF;
  }
  nav img {
    height: 32px;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
  }
  .menu {
    width: 100%;
    background: #0d0d0f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    bottom: 0;
  }
  .menu a {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    color: #515558;
    text-decoration: none;
  }
  .menu a p {
    margin: 0;
    font-size: 0.825rem;
  }
  .menu a:focus {
    color: #515558;
    text-decoration: none;
  }
  .menu-button--active {
    color: #FFFFFF !important;
    text-decoration: none !important;
  }
  .maincolumn {
    height: 85vh;
    background: #0d0d0f;
  }
  .maincolumn-chats {
    padding: 1rem 1.5rem;
  }
  .maincolumn-chats--input {
    background: #151718;
    border-radius: 0.75rem;
    width: 100%;
    padding: 0 0.5rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
  }
  .maincolumn-chats--input input {
    background: transparent;
    height: 42px;
    border: none;
    color: #FFFFFF;
  }
  .maincolumn-chats--input input:focus {
    outline: none;
  }
  .maincolumn-chats--messages {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-radius: 1rem;
    padding: 0 0.5rem;
  }
  .maincolumn-chats--messages img {
    height: 70px;
  }
  .maincolumn-chats--messages .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  .maincolumn-chats--messages .details div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.25rem;
  }
  .maincolumn-chats--messages .details div span {
    width: 14px;
    height: 14px;
    background: lightgreen;
    border-radius: 50%;
    margin-right: 0.25rem;
  }
  .maincolumn-chats--messages .details div h5 {
    color: #FFFFFF;
    font-size: 1rem;
    margin: 0;
  }
  .maincolumn-chats--messages .details p {
    font-size: 0.825rem;
    color: #515558;
  }
  .maincolumn-chats--messages:hover {
    background: #151718;
  }
  .maincolumn-users {
    padding: 1rem 1.5rem;
  }
  .maincolumn-users--box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem;
    color: #FFFFFF;
    border-radius: 0.5rem;
  }
  .maincolumn-users--box img {
    height: 50px;
  }
  .maincolumn-users--box h5 {
    margin: 0;
    margin-left: 0.5rem;
  }
  .maincolumn-users--box:hover {
    background: #151718;
  }
  .maincolumn-users .line {
    margin-top: 0.1rem;
    height: 1px;
    width: 100%;
    background: #1f2122;
  }
  .maincolumn-stock {
    padding: 1rem 1.5rem;
  }
  .maincolumn-stock--input {
    background: #151718;
    border-radius: 0.75rem;
    width: 100%;
    padding: 0 0.5rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
  }
  .maincolumn-stock--input input {
    background: transparent;
    height: 42px;
    border: none;
    color: #FFFFFF;
  }
  .maincolumn-stock--input input:focus {
    outline: none;
  }
  .maincolumn-stock .crypto-pages {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    overflow-y: scroll;
  }
  .maincolumn-stock--box {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 3fr 2fr;
        grid-template-columns: 2fr 3fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem;
    color: #FFFFFF;
    border-radius: 0.5rem;
  }
  .maincolumn-stock--box div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .maincolumn-stock--box div img {
    height: 32px;
  }
  .maincolumn-stock--box div p {
    margin-left: 0.25rem;
  }
  .maincolumn-stock--box h5, .maincolumn-stock--box p {
    margin: 0;
  }
  .maincolumn-stock--box .change-price {
    text-align: end;
  }
  .maincolumn-stock--box:hover {
    background: #151718;
  }
  .maincolumn-stock-pagination {
    margin-top: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 1rem;
  }
  .maincolumn-stock-pagination h5 {
    margin: 0;
    color: #FFFFFF;
  }
  .maincolumn-stock-pagination i:last-of-type {
    color: #FFFFFF;
  }
  .maincolumn-stock .maincolumn-stock-cryptodetails {
    color: #FFFFFF;
  }
  .maincolumn-stock .maincolumn-stock-cryptodetails i {
    margin-bottom: 2rem;
  }
  .maincolumn-stock .maincolumn-stock-cryptodetails .stock-chart {
    padding: 1rem;
    border-radius: 1rem;
    background: #FFFFFF;
    margin-bottom: 1rem;
  }
  .maincolumn-stock .maincolumn-stock-cryptodetails .stock-chart--details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .maincolumn-stock .maincolumn-stock-cryptodetails .stock-chart--details div {
    width: 49%;
    padding: 1rem;
    border-radius: 1rem;
    background: #1f2122;
    margin-bottom: 0.5rem;
  }
  .profile-info {
    position: fixed;
    background: #0d0d0f;
    height: 100vh;
    color: #FFFFFF;
    width: 100%;
    padding: 1rem 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
  }
  .profile-info-nav {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
  }
  .profile-info-nav h4 {
    margin: 0;
    margin-left: 1rem;
  }
  .profile-info .profile-name {
    margin-top: 1rem;
  }
  .profile-info .profile-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 2rem;
  }
  .profile-info .profile-details div {
    width: 30%;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .profile-info .profile-details div p {
    font-size: 0.825rem;
    margin-bottom: 0;
  }
  .profile-info .profile-details div:hover {
    background: #151718;
  }
  .profile-info .profile-edit {
    margin-top: 1rem;
    overflow-y: scroll;
  }
  .profile-info .profile-edit a {
    color: #FFFFFF !important;
  }
  .profile-info .profile-edit div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
  .profile-info .profile-edit div img {
    height: 36px;
  }
  .profile-info .profile-edit div p {
    margin: 0;
    margin-left: 0.5rem;
  }
  .profile-info .profile-edit div:hover {
    background: #151718;
  }
  .profile-info img {
    height: 100px;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
  }
  .profile-info .profile-socialmedia--active-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile-info .profile-socialmedia--active-nav h4 {
    margin: 0;
    margin-left: 1rem;
  }
  .profile-info .profile-socialmedia--active-container {
    padding: 1rem 0;
  }
  .profile-info .profile-socialmedia--active-container .profile-sm--box {
    padding: 0.15rem 0.75rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1rem;
    margin-bottom: 0.75rem;
  }
  .profile-info .profile-socialmedia--active-container .profile-sm--box img {
    height: 36px;
  }
  .profile-info .profile-socialmedia--active-container .profile-sm--box div {
    margin-left: 0.5rem;
    text-align: start;
  }
  .profile-info .profile-socialmedia--active-container .profile-sm--box div h5, .profile-info .profile-socialmedia--active-container .profile-sm--box div p {
    margin: 0;
  }
  .profile-info .profile-socialmedia--active-container .profile-sm--box div h5 {
    font-size: 1rem;
  }
  .profile-info .profile-socialmedia--active-container .profile-sm--box div p {
    font-size: 0.825rem;
  }
  .profile-info .profile-socialmedia--active-container .fb-box {
    background: -webkit-gradient(linear, left top, right top, from(#42a5f5), color-stop(40%, #42a5f5), to(#b6dbf9));
    background: linear-gradient(90deg, #42a5f5 0%, #42a5f5 40%, #b6dbf9 100%);
  }
  .profile-info .profile-socialmedia--active-container .ins-box {
    background: -webkit-gradient(linear, left top, right top, from(#ff758f), color-stop(40%, #ff758f), to(#ffc5d0));
    background: linear-gradient(90deg, #ff758f 0%, #ff758f 40%, #ffc5d0 100%);
  }
  .profile-info .profile-socialmedia--active-container .tw-box {
    background: -webkit-gradient(linear, left top, right top, from(#3b94dd), color-stop(40%, #3b94dd), to(#b2d3ed));
    background: linear-gradient(90deg, #3b94dd 0%, #3b94dd 40%, #b2d3ed 100%);
  }
  .profile-info .profile-socialmedia--active-container .sn-box {
    color: #151718;
    background: -webkit-gradient(linear, left top, right top, from(#ffe246), color-stop(40%, #ffe246), to(#fff2a9));
    background: linear-gradient(90deg, #ffe246 0%, #ffe246 40%, #fff2a9 100%);
  }
  .profile-info .profile-socialmedia--active-container .tt-box {
    background: -webkit-gradient(linear, left top, right top, from(#151718), color-stop(40%, #151718), to(#363a3c));
    background: linear-gradient(90deg, #151718 0%, #151718 40%, #363a3c 100%);
  }
  .profile-info .profile-socialmedia--active-container .profile-sm-back {
    color: #404041;
  }
  .profile-info .profile-edit--active {
    margin-top: 1rem;
  }
  .profile-info .profile-edit--active .profile-file {
    position: relative;
  }
  .profile-info .profile-edit--active .profile-file input[type="file"] {
    position: absolute;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
  }
  .profile-info .profile-edit--active .profile-file label {
    display: block;
    padding: 0.5rem 1rem;
    background: #515558;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 0.5rem;
  }
  .profile-info .profile-edit--active .profile-file label:hover {
    background: #151718;
  }
  .profile-info .profile-edit--active .change-email {
    margin-top: 1rem;
  }
  .profile-info .profile-edit--active .change-email, .profile-info .profile-edit--active .change-password {
    text-align: start;
  }
  .profile-info .profile-edit--active .change-email p, .profile-info .profile-edit--active .change-password p {
    margin: 0;
  }
  .profile-info .profile-edit--active .change-email input, .profile-info .profile-edit--active .change-password input {
    width: 100%;
    padding: 0.5rem 1.25rem;
    margin-bottom: 1rem;
    background: #1f2122;
    border: none;
    border-radius: 0.5rem;
    color: #FFFFFF;
  }
  .profile-info .profile-edit--active .change-email input::-webkit-input-placeholder, .profile-info .profile-edit--active .change-password input::-webkit-input-placeholder {
    color: #FFFFFF;
  }
  .profile-info .profile-edit--active .change-email input:-ms-input-placeholder, .profile-info .profile-edit--active .change-password input:-ms-input-placeholder {
    color: #FFFFFF;
  }
  .profile-info .profile-edit--active .change-email input::-ms-input-placeholder, .profile-info .profile-edit--active .change-password input::-ms-input-placeholder {
    color: #FFFFFF;
  }
  .profile-info .profile-edit--active .change-email input::placeholder, .profile-info .profile-edit--active .change-password input::placeholder {
    color: #FFFFFF;
  }
  .profile-info .profile-edit--active .change-email input:focus, .profile-info .profile-edit--active .change-password input:focus {
    outline: none;
  }
  .profile-info .profile-edit--active .profile-edit-back {
    color: #404041;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav {
    display: none !important;
  }
}
/*# sourceMappingURL=main.css.map */