*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px){
    body{
        height: 100vh;
        height: calc(var(--vh, 1vh));
    }
    @import 'Nav/Mobile';
    @import 'Menu/Mobile';
    @import 'Maincontent/Mobile';
    @import 'ProfileInfo/Mobile';
}
@media screen and (min-width: 769px) and(max-width: 1200px) {
    body{
        height: 100vh;
        display: flex;
    }
    nav{
        display: none !important;
    }
}