* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    padding: 1.5rem;
    background: #0d0d0f;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #515558;
  }
  nav h4 {
    margin: 0;
    color: white;
  }
  .menu {
    width: 100%;
    background: #0d0d0f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    bottom: 0;
  }
  .menu a {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    color: #515558;
    text-decoration: none;
  }
  .menu a p {
    margin: 0;
    font-size: 0.825rem;
  }
  .menu a:focus {
    color: #515558;
    text-decoration: none;
  }
  .menu-button--active {
    color: #FFFFFF !important;
    text-decoration: none !important;
  }
  .maincolumn {
    height: 85vh;
    background: #0d0d0f;
  }
  .maincolumn-chats {
    padding: 1rem 1.5rem;
  }
  .maincolumn-chats--input {
    background: #151718;
    border-radius: 0.75rem;
    width: 100%;
    padding: 0 0.5rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
  }
  .maincolumn-chats--input input {
    background: transparent;
    height: 42px;
    border: none;
    color: #FFFFFF;
  }
  .maincolumn-chats--input input:focus {
    outline: none;
  }
  .maincolumn-chats--messages {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-radius: 1rem;
    padding: 0 0.5rem;
  }
  .maincolumn-chats--messages img {
    height: 70px;
  }
  .maincolumn-chats--messages .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  .maincolumn-chats--messages .details div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.25rem;
  }
  .maincolumn-chats--messages .details div span {
    width: 14px;
    height: 14px;
    background: lightgreen;
    border-radius: 50%;
    margin-right: 0.25rem;
  }
  .maincolumn-chats--messages .details div h5 {
    color: #FFFFFF;
    font-size: 1rem;
    margin: 0;
  }
  .maincolumn-chats--messages .details p {
    font-size: 0.825rem;
    color: #515558;
  }
  .maincolumn-chats--messages:hover {
    background: #151718;
  }
  .maincolumn-users {
    padding: 1rem 1.5rem;
  }
  .maincolumn-users--box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem;
    color: #FFFFFF;
    border-radius: 0.5rem;
  }
  .maincolumn-users--box img {
    height: 50px;
  }
  .maincolumn-users--box h5 {
    margin: 0;
    margin-left: 0.5rem;
  }
  .maincolumn-users--box:hover {
    background: #151718;
  }
  .maincolumn-users .line {
    margin-top: 0.1rem;
    height: 1px;
    width: 100%;
    background: #1f2122;
  }
}
/*# sourceMappingURL=main.css.map */