@import "../Palette/palette";
.maincolumn{
    height: 82vh;
    background: $maincolor;
    &-chats{
        padding: 1rem 1.5rem;
        &--input{
            background: $secondarycolor;
            border-radius: 0.75rem;
            width: 100%;
            padding: 0 0.5rem;
            color: $text;
            margin-bottom: 1rem;
            input{
                background: transparent;
                height: 42px;
                border: none;
                color: $text;
                &:focus{
                    outline: none;
                }
            }
        }
        &--messages{
            margin-top: 1rem;
            display: flex;
            width: 100%;
            border-radius: 1rem;
            padding: 0 0.5rem;
            img{
                height: 70px;
            }
            .details{
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                padding: 1rem;
                div{
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.25rem;
                    span{
                        width: 14px;
                        height: 14px;
                        background: lightgreen;
                        border-radius: 50%;
                        margin-right: 0.25rem;
                    }
                    h5{
                        color: $text;
                        font-size: 1rem;
                        margin: 0;
                    }
                }
                p{
                    font-size: 0.825rem;
                    color: #515558;
                }
            }
            &:hover{
                background: $secondarycolor;
            }
        }
    }
    &-users{
        padding: 1rem 1.5rem;
        &--box{
            display: flex;
            align-items: center;
            padding: 0.5rem;
            color: $text;
            border-radius: 0.5rem;
            img{
                height: 50px;
            }
            h5{
                margin: 0;
                margin-left: 0.5rem;
            }
            &:hover{
                background: $secondarycolor;
            }
        }
        .line{
            margin-top: 0.1rem;
            height: 1px;
            width: 100%;
            background: #1f2122;
        }
    }
    &-stock{
        padding: 1rem 1.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--input{
            background: $secondarycolor;
            border-radius: 0.75rem;
            width: 100%;
            padding: 0 0.5rem;
            color: $text;
            margin-bottom: 1rem;
            input{
                background: transparent;
                height: 42px;
                border: none;
                color: $text;
                &:focus{
                    outline: none;
                }
            }
        }
        .crypto-pages{
            height: fit-content;
            max-height: 73vh;
            overflow-y: scroll;
        }
        &--box{
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 3fr 2fr;
            align-items: center;
            padding: 0.5rem;
            color: $text;
            border-radius: 0.5rem;
            div{
                display: flex;
                align-items: center;
                img{
                    height: 32px;
                }
                p{
                    margin-left: 0.25rem;
                }
            }
            h5, p{
                margin: 0;
            }
            .change-price{
                text-align: end;
            }
            &:hover{
                background: $secondarycolor;
            }
        }
        &-pagination{
            margin-top: 0.25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1rem;
            h5{
                margin: 0;
                color: $text;
            }
            i:last-of-type{
                color: $text;
            }
        }
        .maincolumn-stock-cryptodetails{
            color:$text;
            i{
                margin-bottom: 2rem;
            }
            h1{

            }
            .stock-chart{
                padding: 1rem;
                border-radius: 1rem;
                background: $text;
                margin-bottom: 1rem;
            }
            .stock-chart--details{
                display: flex;
                justify-content: space-between;
                align-content: space-between;
                flex-wrap: wrap;
                div{
                    width: 49%;
                    padding: 1rem;
                    border-radius: 1rem;
                    background: #1f2122;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}