*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 768px){
    body{
        height: 100vh;
        height: calc(var(--vh, 1vh));
    }
    @import 'Mobile/Mobile';
}