nav{
    width: 100%;
    padding: 1.5rem;
    background: #0d0d0f;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    color: #515558;
    h4{
        margin: 0;
        color: white;
    }
    img{
        height: 32px;
        clip-path: circle(50% at 50% 50%);
    }
}