@import "../Palette/palette";
.menu {
    width: 100%;
    height: 8vh;
    background: $maincolor;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    a {
        width: 100%;
        text-align: center;
        padding: 0.5rem;
        color: $menucolor;
        text-decoration: none;
        p {
            margin: 0;
            font-size: 0.825rem;
        }
        &:focus {
            color: $menucolor;
            text-decoration: none;
        }
    }
    &-button--active{
        color: $text !important;
        text-decoration: none !important;
    }
}