.menu {
    width: 100%;
    background: #0d0d0f;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    a {
        width: 100%;
        text-align: center;
        padding: 0.5rem;
        color: #515558;
        text-decoration: none;
        p {
            margin: 0;
            font-size: 0.825rem;
        }
        &:focus {
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}