.menu {
    a {

        p {

        }
        &:focus {
            color: #515558;
            text-decoration: none;
        }
    }
    &-button--active{
        color: #FFFFFF !important;
        text-decoration: none !important;
    }
}